body {
    margin: 0;
    overflow-x: hidden;
}

header {
    text-align: left;
    display: block;
    width: 100%;
    padding: 1em 3em 1em 5em;
    background: rgb(167, 167, 167);
}

a {
    cursor: pointer;
}

header a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    height: 100%;
}

header a:hover {
    background-color: rgb(220, 220, 220);
}

#content {
    margin-left: 1em;
    margin-top: 1em;
}

.auth-form, #post-creation-form {
    text-align: center;
    margin-top: 2em;
    padding: 2em 5em 2em 5em;
    border: 2px #d3d3d3 solid;
    background-color: #d3d3d3;
    border-radius: 5px;
    width: min-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.auth-form input, .auth-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    background-color: #ffffff;
    border-radius: 5px;
    padding: .3em;
}

.auth-form button, #post-creation-form button, .post-creator-data, a, button {
    transition-duration: .15s;
}

.auth-form button:hover, #post-creation-form button:hover {
    background-color: #d3d3d3;
}

.form-error {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 63, 63);
}

#left, #right{
    display: inline-block;
}

#right {
    float: right;
    margin-right: 10%;
}

#user-data {
    float: left;
    display: block;
    border-radius: 10px;
    background-color: #d3d3d3;
    width: 20%;
    padding: 1em 1em 1em 3em;
    white-space: nowrap;
}

#post-creation-form textarea {
    width: 80em;
    height: 40em;
    resize: none;
    border-radius: 10px;
    padding: 1em;
    background-color: rgb(240, 240, 240);
}

#post-creation-form button {
    border-radius: 10px;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: rgb(240, 240, 240);
}

#posts-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 10px;
    width: 40%;
}

.post {
    text-align: left;
    background-color: #d3d3d3;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.post-creator-data {
    background-color: rgb(138, 138, 138);
    padding: 1em;
    border-radius: 10px;
    width: inherit;
    color: #ffffff;
}

.post-creator-data a {
    padding: .5em;
    border-radius: 5px;
}

.post-creator-data:hover {
    background-color: rgb(63, 63, 63);
}

.post p {
    margin-left: 1.2em;
    margin-right: 1em;
}

#load-more {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    padding: .6em;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}

#load-more:hover {
    background-color: rgb(234, 234, 234);
}

.delete-button {
    background-color: rgb(241, 241, 241);
    margin: 0;
    border-style: none;
    width: inherit;
    padding: .45em;
    border-radius: 5px;
    color: rgb(103, 103, 103);
}

.delete-button:hover {
    background-color: rgb(224, 110, 110);
    color: #ffffff;
}